# Question-1: Try 5 different Functions of the string in python

In [1]:
name="Anusha"

In [2]:
name

'Anusha'

In [3]:
type(name)

str

In [4]:
name.upper()  # Converts the lower case letters to upper case letters

'ANUSHA'

In [10]:
name.find('a') # Finds the index of the specified character in the string

5

In [16]:
name.count('n') # counts the occurance of the character passed as a parameter

1

In [17]:
name.lower()  # Converts the upper case letters to lower case letters

'anusha'

In [18]:
name.islower() # checks whether all the characters in the string are lower case letters if not it returns False

False

# Question-2: Try 5 different Functions of the list in python

In [87]:
std_details=["Anusha",543,"CSE",'A',87.5]

In [88]:
std_details

['Anusha', 543, 'CSE', 'A', 87.5]

In [89]:
type(std_details)

list

In [90]:
std_details.reverse() #It reverses the data in the list

In [91]:
std_details           # This is the list after using reverse() function

[87.5, 'A', 'CSE', 543, 'Anusha']

In [92]:
std_details.insert(2,"LetsUpgrade")  # It inserts the given data at the specified index

In [93]:
std_details                      # This is the list after inserting LetsUpgrade at index position 2

[87.5, 'A', 'LetsUpgrade', 'CSE', 543, 'Anusha']

In [94]:
std_details.remove('A')  # remove() function will remove the data passed as a parameter from the list

In [95]:
std_details

[87.5, 'LetsUpgrade', 'CSE', 543, 'Anusha']

In [96]:
std_details.pop(0) # Deleting the data in the index specified as a parameter from the list

87.5

In [97]:
std_details       # This is the list after using pop() function at specified index 0

['LetsUpgrade', 'CSE', 543, 'Anusha']

In [99]:
std_details.clear()  # By using clear() function the total data in the list will be deleted

In [101]:
std_details         # The list is empty

[]

In [102]:
type(std_details)

list

# Question-3:Experiment with atleat 5 default functions of Dictionary

In [103]:
person_details={"Name":"Anusha","Age":19,"Address":"Tanuku","Gender":"Female"}

In [104]:
person_details

{'Name': 'Anusha', 'Age': 19, 'Address': 'Tanuku', 'Gender': 'Female'}

In [105]:
type(person_details)

dict

In [127]:
person_details.get("Gender")   # get() function will get the value of the key specified as a parameter from the dictionary

'Female'

In [134]:
person_details.keys()         # keys() function will return all the keys in the specified dictionary

dict_keys(['Name', 'Age', 'Address', 'Gender'])

In [138]:
person_details.items()       # items() function will return all the items with their keys from the secified dictionary

dict_items([('Name', 'Anusha'), ('Age', 19), ('Address', 'Tanuku'), ('Gender', 'Female')])

In [141]:
person_details.values()     # values() function will return all values in the specified dictionary

dict_values(['Anusha', 19, 'Tanuku', 'Female'])

In [147]:
person_details.update(Age=18,Height= 5.4) #update() function will update the values for the key already present in dictionary otherwise it will add  that key value pair to the dictionary

In [148]:
person_details

{'Name': 'Anusha',
 'Age': 18,
 'Address': 'Tanuku',
 'Gender': 'Female',
 'Height': 5.4}

In [153]:
person_details.clear()      # clear() function will delete all the items from the specified dictionary

In [154]:
person_details              # After using clear() function the dictionary is empty

{}

In [155]:
type(person_details)

dict